html, body{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

#list__style{
    list-style: none;
}

#userName{
    margin-top: 10px;
    
}

#userName::placeholder{
    padding: 5px;
    opacity: 0.5;
}